<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <FileManager.Properties.Settings>
            <setting name="LineCounts" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="LimitCommands" serializeAs="String">
                <value>10</value>
            </setting>
        </FileManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <FileManager.Properties.Settings>
            <setting name="AppName" serializeAs="String">
                <value>FileManager</value>
            </setting>
            <setting name="AppNameDebug" serializeAs="String">
                <value>FileManager [DEBUG]</value>
            </setting>
        </FileManager.Properties.Settings>
    </applicationSettings>
</configuration>